<p>
  Am einfachsten erreichen Sie mich per E-Mail an <a href="mailto:{{ site.email }}">{{ site.email }}</a> und im Büro unter der Telefonnummer <a href="tel:{{ site.phone_number_i18n }}">{{ site.phone_number }}</a>. Meine wichtigsten Social-Media-Accounts: <a href="https://twitter.com/wintermeyer">Twitter (@wintermeyer)</a>, <a href="https://medium.com/@wintermeyer">Medium</a>, <a href="https://github.com/wintermeyer"> Github (wintermeyer)</a>, <a href="https://speakerdeck.com/wintermeyer">Speakerdeck</a> und <a href="https://www.vutuv.de/users/stefan.wintermeyer">vutuv</a>.
</p>
