{% comment %}
To display a table of all talks use
  {% include talks.html %}

To display a table of all talks taged by 'Foo' use
  {% include talks.html tag='Foo' %}

To display a table with the title 'Foo' use
  {% include talks.html title='Foo' %}
{% endcomment %}

{% assign counter=0 %}
{% for talk in site.data.talks %}
  {% if include.tag %}
    {% if talk.tags contains include.tag %}
      {% assign counter=counter | plus:1 %}
    {% endif %}
  {% else %}
    {% assign counter=counter | plus:1 %}
  {% endif %}
{% endfor %}

{% assign talk_counter=0 %}

{% if counter > 0 %}
  <table>
    <thead>
      <tr>
        <th>Vortrag</th>
        <th>Video</th>
      </tr>
    </thead>
    <tbody>
      {% for talk in site.data.talks %}
        {% assign display_talk = 0 %}
        {% unless include.tag %}
          {% assign display_talk = 1 %}
        {% elsif talk.tags contains include.tag %}
          {% assign display_talk = 1 %}
        {% endunless %}

        {% if display_talk == 1 %}
          {% assign talk_counter=talk_counter | plus:1 %}
          {% if talk_counter < 3 %}
            <tr>
              <td>
                {% if talk.slides_url %}
                  <a href="{{ talk.slides_url }}">                {{ talk.title }}
</a>
                {% else %}
                  {{ talk.title }}
                {% endif %}
                <br/>{{ talk.conference }} in {{ talk.city }}
              </td>
              <td>
                {% if talk.video_url %}
                  <a href="{{ talk.video_url }}">{{ talk.length }} min.</a>
                {% elsif talk.audio_url %}
                  <a href="{{ talk.audio_url }}">{{ talk.length }} min.</a>
                {% endif %}
                <br/>{{ talk.lang }}
              </td>
            </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
