---
layout: default
title: Phoenix Framework - Consulting und Schulungen
description: >
  Consulting und Schulungen vom Buchautor und vutuv.de Gründer Stefan Wintermeyer. Ich unterstütze Sie bei der Realisierung Ihrer Phoenix WebApplikation.
---
<div class="container">
  <div class="row">
    <div class="column"><h1>Phoenix Framework</h1></div>
  </div>

  <div class="row">
    <div class="column">
      <p>
        Phoenix Framework ist ein mit der Funktionalen Programmiersprache Elixir programmiertes Framework zur Erstellung von skalierbaren Webapplikationen.
        Phoenix ist schnell. Im Schnitt etwa 10 mal schneller als <a href="/rails/">Ruby on Rails</a>. Da Phoenix Hot Deployments unterstützt ist ein Zero-Downtime Deployment kein Problem.
      </p>
      <figure>
        <img class=scaled src="/assets/conferences/2017/sw_mit_chris_mccord.jpg" alt="Phoenix Erfinder Chris McCord und Stefan Wintermeyer">
        <figcaption>Phoenix Erfinder Chris McCord und Stefan Wintermeyer</figcaption>
      </figure>
      <p>
        Phoenix ist im Vergleich zu Rails neu, technisch super interessant und vielversprechend. Es ist extrem stabil und dabei rattenschnell. Allerdings ist die Community und die damit verbundene Sichtbarkeit noch sehr klein. In Deutschland ist es noch sehr schwer gute Phoenix Entwickler zu finden. Siehe auch <a href="https://hackernoon.com/phoenix-is-better-but-rails-is-more-popular-8975d5e68879">Phoenix is better but Rails is more popular</a>.
      </p>
      <p>
        Für existierende Projekte helfe ich Ihnen bei Erweiterungen, Verbesserung (Performance, Skalierung, Refactoring und Know-How-Transfer) und beim Umzug von Rails auf Phoenix.
        Bei neuen Projekten helfe ich Ihnen beim Bootstrapping. Der Start auf der grünen Wiese ist natürlich der optimale Startpunkt für performante Webapplikationen. Gerne helfe ich Ihnen bei der Planung, Strukturierung und Umsetzung. Mit WebPerformance und HA-Know-How stelle ich sicher, dass Ihre Webseite schnell und störungsfrei ausgeliefert wird.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3>Consulting</h3>
      <p>Ich unterstützte Sie als Programmierer, Architekt oder interims Teamleiter bei der Planung und Erstellung von neuen und bei der Verbesserung von bestehenden Webapplikationen und -seiten. On-site, Remote und bei Feuerwehreinsätzen auch 24 x 7. </p>
      {% include consulting-preise.html %}
    </div>
    <div class="column">
      <h3>Schulungen</h3>
      <p>Ich biete folgende 2-Tages-Phoenix-Schulungen an:</p>
      <ul>
        <li>Phoenix Anfänger-Schulung</li>
        <li>Phoenix Anfänger-Schulung für Rails-Umsteiger</li>
      </ul>
      <p>Beide Schulungen fangen mit Elixir-Grundlagen an. Sie müssen also noch nie eine funktionale Programmiersprache benutzt haben.</p>
      <p>Auf den ersten Blick sieht Phoenix aus wie ein mit Elixir geschriebenes Rails. Das ist allerdings ein Trugschluss. Beide Frameworks sind nicht nur in der Programmiersprache sehr unterschiedlich.</p>
      <p>Je nach Gruppe, Interesse und Vorwissen gehe ich auf einzelne Themen intensiver ein oder überspringe sie. So kann man z.B. in einer 2-tägigen Schulung nicht Test-Driven-Development komplett durcharbeiten.</p>
      <p>Gerne helfe ich Ihnen mit Schulungen um Ihr bestehendes Team auf neue Aufgaben vorzubereiten.</p>
      <h3>1:1 Schulungen</h3>
      <p>Wenn Sie kurzfristig eine Schulung benötigen, dann können Sie auch eine 1:1 Schulung buchen.</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include articles-full-table.html tag='Phoenix' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include talks-full-table.html tag='Phoenix' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include books-full-table.html tag='Phoenix' %}
    </div>
  </div>
</div>
