---
layout: default
title: Ruby on Rails - Consulting und Schulungen
description: >
  Consulting und Schulungen vom Rails-Buch-Autor Stefan Wintermeyer. Über 10 Jahre Rails Know-How. 5 Sterne Bewertung auf Amazon.
---
<div class="container">
  <div class="row">
    <div class="column"><h1>Ruby on Rails</h1></div>
  </div>

  <div class="row">
    <div class="column">
      <figure>
        <a href="http://www.linux-magazin.de/Ausgaben/2017/06/Ruby-on-Rails">
        <img class="scaled" src="{% base64 assets/publications/2017/rails-5.1-linux-magazin-180x254.jpg %}" alt="Linux Magazin 6/2017 Artikel zu Ruby on Rails 5.1"></a>
        <figcaption>Mein Linux Magazin 6/2017 Artikel zu Ruby on Rails 5.1</figcaption>
      </figure>
      <p>
        <a href="http://rubyonrails.org">Ruby on Rails</a> ist ein populäres und quelloffenes Web Application Framework. Es wird für große Webseiten wie <a href="https://www.xing.com">XING</a>, <a href="https://www.shopify.com">shopify</a>, <a href="https://www.airbnb.de">airbnb</a> und <a href="https://www.github.com">GitHub</a> eingesetzt.
        Für existierende Projekte helfe ich Ihnen bei Erweiterungen und Verbesserung (Performance, Skalierung, Refactoring und Know-How-Transfer).</p>
        <p>
        Bei neuen Projekten helfe ich Ihnen beim Bootstrapping und bei Bedarf auch beim Recruiting für noch nicht besetzte Stellen. Der Start auf der grünen Wiese ist natürlich der optimale Startpunkt für performante Webapplikationen. Gerne helfe ich Ihnen bei der Planung, Strukturierung und Umsetzung. Mit WebPerformance und HA-Know-How stelle ich sicher, dass Ihre Webseite schnell und störungsfrei ausgeliefert wird.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3>Consulting</h3>
      <p>Mittlerweile arbeite ich mehr als 10 Jahren mit Ruby on Rails. In dieser Zeit habe ich mit meinem Team u.a. für das Bundesamt für Sicherheit in der Informationstechnik (BSI) mit Ruby on Rails eine sichere Telefonanlage programmiert. Zu meinen Consulting-Kunden gehören Behörden, DAX-Unternehmen und natürlich auch kleine Start-Ups.</p>
      <p>Dadurch das ich sehr viele verschiedene Rails-Lösungen gesehen und begleitet habe, kann ich Ihnen sagen, welche Wege vielversprechend sind und welche eher eine Sackgasse darstellen.</p>
      <p>Ich unterstützte Sie als Programmierer, Architekt oder interims Teamleiter bei der Planung und Erstellung von neuen und bei der Verbesserung von bestehenden Webapplikationen und -seiten. On-site, Remote und bei Feuerwehreinsätzen auch 24 x 7. </p>
      {% include consulting-preise.html %}
    </div>
    <div class="column">
      <h3>Schulungen</h3>
      <figure>
        <a href="http://amzn.to/2uFtEOh">
        <img class="scaled" src="/assets/rails32-buch-cover-150x243.jpg" alt="Buchcover"></a>
        <figcaption>Mein erstes Rails Buch.</figcaption>
      </figure>
      <p>Mein erstes deutsche <a href="http://amzn.to/2vtbdAB">Ruby on Rails 3.2 Buch</a> (5 Sterne Bewertung bei Amazon) ist bis heute das best verkaufte deutsche Ruby on Rails Buch. Mein neustes englisches Rails Buch beschäftigt sich mit der aktuellen Version 5.1.</p>
      <p>Das aktuelle <a href="http://amzn.to/2uZVFDC">Learn Rails 5.1 Buch</a> ist die Grundlage für meine Anfänger-Schulungen. Dieses 2-Tages-Training beschäftigt sich mit folgenden Themen:</p>
      <ul>
        <li>Ruby Grundlagen</li>
        <li>Erste Schritte mit Rails (ein Hello World)</li>
        <li>Active Record</li>
        <li>Scaffolding und RESTful Architektur</li>
        <li>Routing</li>
        <li>Bundler und Gems</li>
        <li>Forms</li>
        <li>Cookies und Sessions</li>
        <li>Test Driven Development (TDD)</li>
        <li>Active Job</li>
        <li>Action Mailer</li>
        <li>I18n Sprachanpassungen</li>
        <li>Asset Pipeline</li>
        <li>Caching</li>
        <li>Action Cable</li>
        <li>Secrets</li>
      </ul>
      <p>Je nach Gruppe, Interesse und Vorwissen gehe ich auf einzelne Themen intensiver ein oder überspringe sie. So kann man z.B. in einer 2-tägigen Schulung nicht Test-Driven-Development komplett durcharbeiten.</p>
      <p>Gerne helfe ich Ihnen mit Schulungen um Ihr bestehendes Team auf neue Aufgaben vorzubereiten.</p>
      <h3>1:1 Schulungen</h3>
      <p>Wenn Sie kurzfristig eine Schulung benötigen, dann können Sie auch eine 1:1 Schulung buchen.</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include articles-full-table.html tag='Rails' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include talks-full-table.html tag='Rails' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include books-full-table.html tag='Rails' %}
    </div>
  </div>
</div>
