---
layout: default
title: Ruby on Rails - Bücher, Consulting und Schulungen
description: >
  Bücher, Consulting und Schulungen vom Rails-Buch-Autor Stefan Wintermeyer. Über 10 Jahre Rails Know-How. 5 Sterne Bewertung auf Amazon.
---
<div class="container">
  <div class="row">
    <div class="column"><h1>Ruby on Rails</h1></div>
  </div>

  <div class="row">
    <div class="column">
      <figure>
        <a href="http://www.linux-magazin.de/Ausgaben/2017/06/Ruby-on-Rails">
        <img class="scaled" src="{% base64 assets/publications/2017/rails-5.1-linux-magazin-180x254.jpg %}" alt="Linux Magazin 6/2017 Artikel zu Ruby on Rails 5.1"></a>
        <figcaption><a href="http://www.linux-magazin.de/Ausgaben/2017/06/Ruby-on-Rails">Linux Magazin 6/2017 Artikel</a> zu Ruby on Rails 5.1</figcaption>
      </figure>
      <p>
        Auf dieser Webseite finden Sie u.a. online Versionen alter Ruby on Rails Bücher von Stefan Wintermeyer (E-Mail: <a href="mailto:sw@wintermeyer-consulting.de">sw@wintermeyer-consulting.de</a> - Twitter: <a href="https://twitter.com/wintermeyer">@wintermeyer</a>).</p>
        <ul>
          <li><a href="http://ruby-auf-schienen.de/3.2/">Ruby on Rails 3.2 Deutsch</a></li>
          <li><a href="http://www.xyzpub.com/en/ruby-on-rails/3.2/">Ruby on Rails 3.2 Englisch</a></li>
          <li>Mein aktuelles <a href="http://amzn.to/2uZVFDC">Learn Rails 5.1 Buch bei Amazon</a> (Englisch)</li>
          <li><a href="https://www.wintermeyer-consulting.de/">wintermeyer-consulting.de</a> (Consulting Homepage)</li>
        </ul>
        <p>
        Bei neuen Projekten <a href="https://www.wintermeyer-consulting.de/rails/">helfe ich Ihnen</a> beim Bootstrapping und bei Bedarf auch beim Recruiting für noch nicht besetzte Stellen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3>Consulting</h3>
      <p>
        Ich helfe Ihnen bei der Planung, Strukturierung und Umsetzung von Rails-Projekten. Mit WebPerformance und HA-Know-How stelle ich sicher, dass Ihre Webseite schnell und störungsfrei ausgeliefert wird.
      </p>
      <p>
        Informationen zu meinem Consulting-Angebot finden Sie auf <a href="https://www.wintermeyer-consulting.de/rails/">https://www.wintermeyer-consulting.de/rails/</a>
      </p>
    </div>
    <div class="column">
      <h3>Schulungen</h3>

      <p>
        Informationen meinen Ruby on Rails Schulungen finden Sie auf <a href="https://www.wintermeyer-consulting.de/trainings/rails.html">https://www.wintermeyer-consulting.de/trainings/rails.html</a>
      </p>
      {% include trainings-mini-table.html tag='Rails' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include articles-full-table.html tag='Rails' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include talks-full-table.html tag='Rails' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include books-full-table.html tag='Rails' %}
    </div>
  </div>
</div>
