---
layout: default
title: WebPerformance Consulting
description: >
  Ich optimiere mit Ihnen die Ladezeiten Ihrer Webseiten. Full-Stack. 1 Sekunde schnellere Ladezeit = 5% bessere Conversion Rate. Bonus: Besseres Google Ranking.
---
<div class="container">
  <div class="row">
    <div class="column"><h1>WebPerformance optimieren</h1></div>
  </div>

  <div class="row">
    <div class="column">
      <figure>
        <a href="http://www.heise.de/ix/inhalt/2015/8/102/">
          <img class=scaled src="{% base64 assets/ix-webperformance-artikel.gif %}" alt="iX WebPerformance Artikel Ausgabe 8/2015" /></a>
          <figcaption>Mein <a href="http://www.heise.de/ix/inhalt/2015/8/102/">iX WebPerformance-Artikel Ausgabe 8/2015</a></figcaption>
      </figure>
      <p>
        Eine Sekunde schnellere Ladezeit resultiert im Durchschnitt in einer 5 Prozent besseren Conversion Rate. Ich helfe Ihnen eine neue schnelle Webseite zu realisieren oder Ihre existierene Webseite und -applikation zu optimieren. Zusätzlich zum Consulting biete ich eine <a href="/trainings/webperformance.html">WebPerformance-Schulung</a> an.
      </p>
      <p>
        WebPerformance Optimierung ist ein Full-Stack Projekt: Optimierung auf der CSS-, HTML- und JavaScript Ebene sind dabei nur der Anfang. Weiter geht es mit WebServer, DB-Server, Betriebssystem und Netzwerk. Manchmal können Kleinigkeiten - wie ein aktueller Kernel - große Einsparungen bringen und manchmal bedarf es großer Veränderungen in der Architektur.
      </p>
      <figure>
        <a href="http://www.linux-magazin.de/Ausgaben/2017/11/Brotli">
        <img class="scaled" src="/assets/publications/2017/linux-magazin-brotli-208x285.gif" alt="Linux Magazin 11/2017 Artikel zur Brotli Kompression"></a>
        <figcaption>Infos zur Brotli Kompression in meinem <a href="http://www.linux-magazin.de/Ausgaben/2017/11/Brotli">Linux Magazin 11/2017 Artikel</a>.</figcaption>
      </figure>

      <p>
        Ein Umstieg auf HTTP/2 und die neuesten Komprimiermethoden (z.B. <a href="https://github.com/google/brotli">Brotli</a>) ist immer auf der Check-Liste. Aber das ist ja Standard.
      </p>
      <p>
        Wenn Sie sich noch nie technisch mit dem Thema WebPerformance beschäftigt haben, empfehle ich Ihnen meinen Grundlagenartikel in der iX 08/2015 (<a href="http://www.heise.de/ix/inhalt/2015/8/102/">online als PDF</a>). Wenn Sie tiefer einsteigen wollen, dann das Buch <a href="https://hpbn.co">High Performance Browser Networking</a> von Ilya Grigorik. Als initialen Kick-Start biete ich Ihnen gerne einen halb- oder ganztägigen Workshop an.
      </p>
      {% include kontaktinformationen.html %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h3>Consulting</h3>
      <p>Ich unterstützte Sie bei der analyse Ihrer bestehenden Webseite und WebApplikation. On-site, Remote und bei Feuerwehreinsätzen auch 24 x 7. </p>
      {% include consulting-preise.html %}

      <h3>Schulungstermine</h3>
      <p>
        Seit dem Ausbruch der Corona-Epidemie biete ich nur noch Remote- und teilweise
        Vor-Ort-Schulungen an.
        Haben Sie einen Wunschtermin? Schreiben Sie mit bitte eine E-Mail an <a
          href="mailto:sw@wintermeyer-consulting.de">sw@winermeyer-consulting.de</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include articles-full-table.html tag='WebPerf' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include talks-full-table.html tag='WebPerf' %}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% include books-full-table.html tag='WebPerf' %}
    </div>
  </div>
</div>
